<div class="container-fluid">
    <div class="row margin-top-20">
        <div class="col-sm-2">
            <input ng-model="filter.name" class="form-control" type="text" placeholder="filter name"></div>

        <div class="col-sm-2">
            <input ng-model="filter.mobile" class="form-control" type="text" placeholder="filter mobile"></div>

        <div class="col-sm-2">
            <input ng-model="filter.phone" class="form-control" type="text" placeholder="filter phone"></div>

        <div class="col-sm-2">
            <input ng-model="filter.address" class="form-control" type="text" placeholder="filter state"></div>

        <div class="col-sm-2">
            <input ng-model="filter.dob" class="form-control" type="date" placeholder="filter dob"></div>

        <div class="col-sm-2">
            <span>
                <button ng-click="filterCustomers()" class="btn btn-default"> <i class="fa fa-filter"></i>
                </button>
                <button class="btn btn-default margin-left-20" ng-click="openAddEditCustomer()"> <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>

    </div>

    <table class="table table-bordered margin-top-20" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Dob</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="customer in customers">
                <td>{{customer.name}}</td>
                <td >{{customer.mobile}}</td>
                <td >{{customer.phone}}</td>
                <td ><div ng-repeat="item in customer.address">
                {{item.flat}} {{item.street}} {{item.state}} {{item.pincode}}<br>
                </div></td>
                <td >{{customer.dob | date:'dd MMM yyyy'}}</td>
                <td >{{customer.email}}</td>
                <td >
                    <a ng-click="openAddEditCustomer(customer)">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a ng-click="deleteCustomer(customer._id)">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                </tr>

        </tbody>
    </table>

    <div class="row text-center">
        <span><button class="btn btn-primary btn-sm" ng-click="previousPage()" ng-disabled="!page"><i class="fa fa-arrow-left"></i></button> {{page + 1}} <button class="btn btn-primary btn-sm" ng-click="nextPage()" ng-disabled="noMorePage"><i class="fa fa-arrow-right"></i></button></span>
    </div>
</div>

<modal title="Add Doctor" visible="addEditCustomer">
<ng-form class="form-horizontal" name="customerForm">
<div class="row margin-top-20">
    <label class="col-sm-2">Name: </label>
    <div class="col-sm-10" ng-class="{'has-error':customerForm.name.$invalid,'has-success':customerForm.name.$valid}"><input class="form-control" type="text" ng-model="newCustomer.name" placeholder="Enter Name" name="name" required></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2">Phone: </label>
    <div class="col-sm-10" ng-class="{'has-error':customerForm.phone.$invalid,'has-success':customerForm.phone.$valid}"><input  class="form-control" type="text" ng-model="newCustomer.phone" phone-validation name="phone" placeholder="Enter Phone" required></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2">Mobile: </label>
    <div class="col-sm-10" ng-class="{'has-error':customerForm.mobile.$invalid,'has-success':customerForm.mobile.$valid}"><input class="form-control" type="text" ng-model="newCustomer.mobile"  phone-validation name="mobile" placeholder="Enter Mobile" required></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2 column">Address: <button class="btn btn-sm btn-default" ng-click="newCustomer.address.push({})"><i class="fa fa-plus"></i></button></label>
    <div class="col-sm-10">
    <div ng-repeat = "address in newCustomer.address" class="margin-bottom-20">
    <input class="form-control" type="text" ng-model="address.flat" placeholder="Flat No."><input class="form-control" type="text" ng-model="address.street" placeholder="Street"><input class="form-control" type="text" ng-model="address.state" placeholder="State"><input class="form-control" type="text" ng-model="address.pincode" placeholder="pincode">

    </div>
    </div>
    
</div>
<div class="row ">
    <label class="col-sm-2" >Dob: </label>
    <div class="col-sm-10" ng-class="{'has-error':customerForm.dob.$invalid,'has-success':customerForm.dob.$valid}"><input class="form-control" type="date" ng-model="newCustomer.dob" placeholder="Enter DOB" name="dob" required></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2" >Email: </label>
    <div class="col-sm-10" ng-class="{'has-error':customerForm.email.$invalid,'has-success':customerForm.email.$valid}"><input  class="form-control" type="text" ng-model="newCustomer.email" email-validation name="email" placeholder="Enter Email" required></div>
</div>
</ng-form>
<div class="row text-center margin-top-20">
    <button class="btn btn-sm btn-default" ng-click="saveCustomer(newCustomer)" ng-disabled="customerForm.$invalid"><span ng-if="!newCustomer._id">Save</span><span ng-if="newCustomer._id">Update</span></button>
</div>
    
</modal>