<div class="container-fluid">
    <div class="row margin-top-20">
        <div class="col-sm-2">
            <input ng-model="filter.name" class="form-control" type="text" placeholder="filter name"></div>

        <div class="col-sm-2">
            <input ng-model="filter.mobile" class="form-control" type="text" placeholder="filter mobile"></div>

        <div class="col-sm-2">
            <input ng-model="filter.phone" class="form-control" type="text" placeholder="filter phone"></div>

        <div class="col-sm-2">
            <input ng-model="filter.address" class="form-control" type="text" placeholder="filter address"></div>

        <div class="col-sm-2">
            <input ng-model="filter.dob" class="form-control" type="date" placeholder="filter dob"></div>

        <div class="col-sm-2">
            <span>
                <button ng-click="filterCustomers()" class="btn btn-default"> <i class="fa fa-filter"></i>
                </button>
                <button class="btn btn-default margin-left-20" ng-click="openAddEditCustomer()"> <i class="fa fa-plus"></i>
                </button>
            </span>
        </div>

    </div>

    <table class="table table-bordered margin-top-20" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Dob</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            <tr ng-repeat="customer in customers">
                <td>{{customer.name}}</td>
                <td >{{customer.mobile}}</td>
                <td >{{customer.phone}}</td>
                <td >{{customer.address.join(',')}}</td>
                <td >{{customer.dob | date:'dd MMM yyyy'}}</td>
                <td >{{cusotmer.email}}</td>
                <td >
                    <a ng-click="openAddEditCustomer(customer)">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a ng-click="deleteCustomer(customer._id)">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
                </tr>

        </tbody>
    </table>
</div>

<modal title="Add Doctor" visible="addEditCustomer">
<ng-form class="form-horizontal" name="customerForm">
<div class="row margin-top-20">
    <label class="col-sm-2">Name: </label>
    <div class="col-sm-10"><input class="form-control" type="text" ng-model="newCustomer.name" placeholder="Enter Name"></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2">Phone: </label>
    <div class="col-sm-10"><input  class="form-control" type="text" ng-model="newCustomer.phone" placeholder="Enter Phone"></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2">Mobile: </label>
    <div class="col-sm-10"><input class="form-control" type="text" ng-model="newCustomer.mobile" placeholder="Enter Mobile"></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2 column">Address: <button class="btn btn-sm btn-default" ng-click="newCustomer.address.push({})"><i class="fa fa-plus"></i></button></label>
    <div class="col-sm-10">
    <div ng-repeat = "address in newCustomer.address" class="margin-bottom-20">
    <input class="form-control" type="text" ng-model="address.flat" placeholder="Flat No."><input class="form-control" type="text" ng-model="address.street" placeholder="Street"><input class="form-control" type="text" ng-model="address.state" placeholder="State"><input class="form-control" type="text" ng-model="address.pincode" placeholder="pincode">

    </div>
    </div>
    
</div>
<div class="row ">
    <label class="col-sm-2">Dob: </label>
    <div class="col-sm-10"><input class="form-control" type="date" ng-model="newCustomer.dob" placeholder="Enter DOB"></div>
</div>
<div class="row margin-top-20">
    <label class="col-sm-2">Email: </label>
    <div class="col-sm-10"><input  class="form-control" type="text" ng-model="newCustomer.email" placeholder="Enter Email"></div>
</div>

<div class="row text-center margin-top-20">
    <button class="btn btn-sm btn-default" ng-click="saveCustomer(newCustomer)" ng-disabled="customerForm.$invalid"><span ng-if="!newCustomer._id">Save</span><span ng-if="newCustomer._id">Update</span></button>
</div>
    </ng-form>
</modal>